<%= form_for(@user_biography) do |f| %>
  <% if @user_biography.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user_biography.errors.count, "error") %> prohibited this user_biography from being saved:</h2>

      <ul>
      <% @user_biography.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <h4>Name</h4>
  <div class="field">
	<%= f.label :name, "Name" %> <%= f.text_field :name %>
  </div>

  <h4>Kindheit</h4>
  <div class="field">
    <%= f.label :birthday, "Geburtsjahr" %>
    <%= f.date_select :birthday, :start_year => 1913, :end_year => 1999, :discard_month => true, :discard_day => true %>
  </div>
  <div class="field">
    <%= f.label :birthplace, "Geburtsort" %>
    <%= f.select :birthplace, UserBiography::BIRTHPLACE_OPTIONS %>
  </div>
  <div class="field">
    <%= f.label :parents, "Elternhaus" %>
		<%= f.select :parents, UserBiography::PARENTS_OPTIONS %>
  </div>
  <div class="field">
    <%= f.label :childhood, "Wie waren Sie als Kind?" %>
    <%= f.select :childhood, UserBiography::CHILDHOOD_OPTIONS %>
  </div>
  <h4>Jugend</h4>
	<div class="field">
	<%= f.label "Geschlecht" %>
	<%= f.select :sex, UserBiography::SEX_OPTIONS %>
	</div>  
  <div class="field">    
    Haben Sie mal was gestohlen?
    <%= f.radio_button :youth_1, 'true', :checked => true %> 
    <%= f.label :youth_1, 'Ja', :value => 'true' %>
    <%= f.radio_button :youth_1, 'false' %> 
    <%= f.label :youth_1, 'Nein', :value => 'false' %>
  </div>
  <div class="field">
    Drogenerfahrungen?
    <%= f.radio_button :youth_2, 'true', :checked => true %> 
    <%= f.label :youth_2, 'Ja', :value => 'true' %>
    <%= f.radio_button :youth_2, 'false' %> 
    <%= f.label :youth_2, 'Nein', :value => 'false' %>
  </div>
  <div class="field">
    Haben Sie geglaubt, dass Sie die Welt verändern können?
    <%= f.radio_button :youth_3, 'true', :checked => true %> 
    <%= f.label :youth_3, 'Ja', :value => 'true' %>
    <%= f.radio_button :youth_3, 'false' %> 
    <%= f.label :youth_3, 'Nein', :value => 'false' %>
  </div>
  <div class="field">
    Waren Sie bei Gleichaltrigen beliebt?
    <%= f.radio_button :youth_4, 'true', :checked => true %> 
    <%= f.label :youth_4, 'Ja', :value => 'true' %>
    <%= f.radio_button :youth_4, 'false' %> 
    <%= f.label :youth_4, 'Nein', :value => 'false' %>
  </div>
  <div class="field">
    <%= f.label "Ausbildung" %>
    <%= f.select :education, UserBiography::EDUCATION_OPTIONS %>
  </div>
  <h4>Gegenwart</h4>
  <div class="field">
    <%= f.label :owns_boat %><br />
    <%= f.check_box :owns_boat %>
  </div>
  <div class="field">
    <%= f.label :owns_house %><br />
    <%= f.check_box :owns_house %>
  </div>
  <div class="field">
    <%= f.label :owns_gold %><br />
    <%= f.check_box :owns_gold %>
  </div>
  <div class="field">
    <%= f.label :travel, "Ihre intensivste Reise in den letzten 10 Jahren führte Sie in welchen Erdteil?" %>
    <%= f.select :travel, UserBiography::TRAVEL_OPTIONS %>
  </div>
  <div class="field">
    <%= f.label :job_changes, "Wie oft haben Sie seit Ihrer Ausbildung den Beruf gewechselt?" %>
    <%= f.select :job_changes, (0..10) %>
  </div>
  <div class="field">
    <%= f.label :romance, "Romantik?" %>
    <%= f.select :romance, UserBiography::ROMANCE_OPTIONS %>
  </div>
  <div class="field">
    <%= f.label :crisis, "Wie reagieren Sie auf Krisen?" %>
    <%= f.select :crisis, UserBiography::CRISIS_OPTIONS %>
  </div>
  <div class="field">
    <%= f.label :hobby, "Haben Sie ein Hobby?" %>
    <%= f.radio_button :hobby, 'true', :checked => true %> 
    <%= f.label :hobby, 'Ja', :value => 'true' %>
    <%= f.radio_button :hobby, 'false' %> 
    <%= f.label :hobby, 'Nein', :value => 'false' %>
  </div>
  <div class="field">
    <%= f.label "Religion?" %>
    <%= f.select :religion, UserBiography::RELIGION_OPTIONS %>
  </div>
  <div class="field">
    <%= f.label :zurich, "Leben Sie in Zürich?" %>
    <%= f.radio_button :zurich, 'true', :checked => true %> 
    <%= f.label :zurich, 'Ja', :value => 'true' %>
    <%= f.radio_button :zurich, 'false' %> 
    <%= f.label :zurich, 'Nein', :value => 'false' %>
  </div>
  <div>
	nosave? <%= check_box_tag :nosave, 1,(true if !@tour) %>
  </div>
  <div>
  	<%= f.hidden_field :tour_id, :value => @tour.id if @tour %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
<br/>

