<h1>Listing tours</h1>

<table class="table">
  <tr>
    <th>Number</th>
    <th>Desc</th>
    <th>Finalized</th>
    <th>Guests</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tours.each do |tour| %>
  <tr>
    <td><%= tour.number %></td>
    <td><%= tour.desc %></td>
    <td><%= tour.finalized %></td>
    <td><%= tour.user_biographies.count %></td>
    <td><%= link_to 'Show', tour %></td>
    <td><%= link_to 'Edit', edit_tour_path(tour) %></td>
    <td><%= link_to 'Setup',  :controller => "tours", :action => "setup", :id => tour %></td>
    <td><%= link_to 'Print',  :controller => "tours", :action => "print", :id => tour %></td>
    <td><%= link_to 'Destroy', tour, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tour', new_tour_path %>
