<p id="notice"><%= notice %></p>

<h1 class="not-print">
  <b>Tour 
  <%= @tour.number %>
	</b>
  <%= @tour.desc %>
</h1>

<h2 class="not-print">
  <%= @tour.user_biographies.count %> Teilnehmer
</h2>

<% if !@tour.finalized %>
	<p class="alert alert-danger not-print">
	  	Not finalized !
	</p>
<% end %>


<% @tour_bios.each do |bio| %>
	<div class="page"><h3>Biografie von <%= bio.name %> f端r Uchronie #23</h3><%= bio.translate_uchronia_23 %></div>
	<div class="page"><h3>Biografie von <%= bio.name %> f端r Uchronie #11</h3><%= bio.translate_uchronia_11 %></div>
	<div class="page"><h3>Biografie von <%= bio.name %> f端r Uchronie #19</h3><%= bio.translate_uchronia_19 %></div>
	<div class="page"><h3>Biografie von <%= bio.name %> f端r Uchronie #17</h3><%= bio.translate_uchronia_17 %></div>
<% end %>

