<p id="notice"><%= notice %></p>

<h1>
  <b>Tour 
  <%= @tour.number %>
	</b>
  <%= @tour.desc %>
</h1>

<% if @tour.finalized %>
	<p class="alert alert-danger">
	  	Closed 
	</p>
<% else %>
	<p class="alert alert-success">
	  Open
	  <% link_to edit_tour_path(@tour), "Finalize"%>
	</p>
	<!--button onclick="window.location=window.location"> Reload </button-->
	<%= render "user_biographies/form" %>	
	<% Uchronia.all.each do |uchronia| %>
		<div id="<%= uchronia.slug %>">
			<h4>Uchronie <%= uchronia.title %>  <small>(<%= uchronia.pod %>)</small></h4>
			<p><%= @last_translations[uchronia.slug] if @last_translations %></p>
		</div>
	<% end %>	
<% end %>

<h2>Tour Bios <small><%= @tour_bios.count %> Teilnehmer</small></h2>

<table>

	<% @tour_bios.each do |bio| %>
		<h3><%= link_to(bio.name, bio) %> <%= "<span class='label'>website</span>" if bio.id_live %></h3>
	<% end %>
	

</table>

<% if !@tour.finalized %>
	<h3>Unassigned Bios</h3>
	
	<table>
	
	<% @named_bios.each do |bio| %>
		<h4><%= link_to(bio.name, bio) %> <%= bio.birthday.strftime("%Y") %> <%= "<span class='label'>website</span>" if bio.id_live %> <small><%= "Tour " + bio.tour.number.to_s + "" if bio.tour %></small> <small><%= bio.created_at %></small></h4>
	<% end %>
	
	</table>
<% end %>
