<div id="canvas">

	<div id="overview" class="step overview" data-x="0" data-y="0" data-scale="7"></div>

	<% @slides.each do |slide| %>
		<% if slide[:type] == "page" %>
			<%= render :partial => 'pages/show_on_canvas', :locals => {
				:page => Page.find(slide[:slug]),
				:x => slide[:x],
				:y => slide[:y],
				} 
			%>
		<% end %>
		<% if slide[:type] == "uchronist" %>
			<% uchronist =  Uchronist.find(slide[:slug]) %>
			<div id="<%= uchronist.slug %>" class="step uchronist editable" data-type="uchronist" data-slug="<%= uchronist.slug %>" data-x="<%= slide[:x] %>" data-y="<%= slide[:y] %>" data-rotate="<%= 90 %>" data-scale="0.5">
				<%= render :partial => 'uchronists/show_public', :locals => { :uchronist => uchronist } %>
			</div>
		<% end %>	
		
	<% end %>


	<div id="biographygenerator" class="step" data-x="30" data-y="490">	
		<%= render 'user_biographies/form_public' %>
	</div>
	
	<% x = 0 %>
	<% rand_phi = (0..36).to_a.sort{ rand() - 0.5 }[0..Uchronia.all.count] %>
	<% Uchronia.all.each_with_index do |uchronia, index| %>
			<div class="step uchronia" data-r="<%= 2000 %>" data-phi="<%= 10*rand_phi[index] %>" data-rotate="<%= rand(100)-5%>">
			<%= render :partial => 'uchronias/show_public', :locals => {:uchronia => uchronia} %>
			</div>
			<% x += 700 %>
	<% end %>



</div>

<div class="hint">
    <p>Use arrow keys to navigate</p>
</div>

<script type="text/javascript">
$(function() {
	$('#canvas').jmpress();
	
});
</script>
