<div id="canvas">

	<div id="overview" class="step" data-x="3000" data-y="1500" data-scale="7">
    </div>
    
	<% x = 1000 %>
	<% Page.all.each do |page| %>
		<div id="<%= page.slug %>" class="step page" data-x="<%= x %>" data-y="<%= rand(200)%>" data-rotate="<%= rand(10)-5%>">
		<!-- data-src="<%= url_for controller: 'pages', action: 'show', id: page %>" -->
		<%= render :partial => 'pages/show', :locals => {:page => page} %>
		</div>
	<% x += 700 %>
	<% end %>
	
	<% xindex = 0 %>
	<% yindex = 0 %>
	<% Uchronist.all.each_with_index do |index,uchronist| %>
			<div class="step uchronist" data-x="<%=  xindex %>" data-y="<%= yindex %>" data-rotate="<%= 90 %>">
			<%= render :partial => 'uchronists/show_public', :locals => {:uchronist => uchronist} %>
			</div>
	<% end %>
	
	<% Uchronia.all.each do |index, uchronia| %>
			<div class="step" data-x="<%= x %>" data-y="<%= rand(200)%>" data-rotate="<%= rand(10)-5%>">
			<%= render :partial => 'uchronias/show_public', :locals => {:uchronia => uchronia} %>
			</div>
			<% x += 700 %>
	<% end %>

</div>

<div class="hint">
    <p>Use arrow keys to navigate</p>
</div>

<script type="text/javascript">
$(function() {
	$('#canvas').jmpress();
	
});
</script>
