<div id="canvas">
	<div id="overview" class="step" data-x="3000" data-y="1500" data-scale="7">
    </div>
    
	<% x = 1000 %>
	<% Page.all.each do |page| %>
		<div id="<%= page.slug %>" class="step page" data-x="<%= x %>" data-y="<%= rand(200)%>" data-rotate="<%= rand(10)-5%>">
		<!-- data-src="<%= url_for controller: 'pages', action: 'show', id: page %>" -->
		<%= render :partial => 'pages/show', :locals => {:page => page} %>
		</div>
	<% x += 700 %>
	<% end %>

	<% Uchronia.all.each do |i,u| %>
		<div id="<%= page.slug %>" class="step uchronia" data-x="<%= 5-(i % 5) %>" data-y="<%= i % 5 %>" data-rotate="90">
		<!-- data-src="<%= url_for controller: 'pages', action: 'show', id: page %>" -->
		<%= render :partial => 'uchronia/show', :locals => {:uchronia => u} %>
		</div>
	<% end %>

</div>

<div class="hint">
    <p>Use arrow keys to navigate</p>
</div>

<script type="text/javascript">
$(function() {
	$('#canvas').jmpress();
	
});
</script>
