<%= form_for(@uchronist) do |f| %>
  <% if @uchronist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uchronist.errors.count, "error") %> prohibited this uchronist from being saved:</h2>

      <ul>
      <% @uchronist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_id %><br />
    <%= f.select :image_id, Image.order("title").collect {|i| [i.title, i.id]}.insert(0, ["-", nil]) %>
  </div>
  <div class="field">
    <%= f.label :media_embed %><br />
    <%= f.text_area :media_embed %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
  <%= f.label "Geschlecht" %>
    <%= f.select :sex, Uchronist::SEX_OPTIONS %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>

	<p>  
  <% Uchronia.all.each do |uchronia| %>
  	<%= check_box_tag "uchronist[uchronia_ids][]", uchronia.id, @uchronist.uchronias.include?(uchronia) %>
  	<%= uchronia.title %>  
  <% end %>
  </p>
  
  <div class="field">
    <%= f.label :hidden %><br />
    <%= f.check_box :hidden %>
  </div>

  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
