<%= form_for(@uchronist) do |f| %>
  <% if @uchronist.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uchronist.errors.count, "error") %> prohibited this uchronist from being saved:</h2>

      <ul>
      <% @uchronist.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_id %><br />
    <%= f.text_field :image_id %>
  </div>
  <div class="field">
    <%= f.label :media_embed %><br />
    <%= f.text_field :media_embed %>
  </div>
  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
