<%= form_for(@uchronia) do |f| %>
  <% if @uchronia.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@uchronia.errors.count, "error") %> prohibited this uchronia from being saved:</h2>

      <ul>
      <% @uchronia.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_id %><br />
    <%= f.number_field :image_id %>
  </div>
  <div class="field">
    <%= f.label :media_embed %><br />
    <%= f.text_area :media_embed %>
  </div>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :pod %><br />
    <%= f.text_area :pod %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
