<h1>Uchronie <%= uchronia.title %></h1>

<div class="row">
	
<article class="col-2">
	<% if uchronia.image %>
		<%= image_tag uchronia.image.image.url, options = {:data => { :image_id => uchronia.image.id } } %>
	<% end %> 
	
	<% if uchronia.media_embed %>
		<%= uchronia.media_embed.html_safe %>
	<% end %>
	
	<p>
	  <b>Point of Divergence</b> <%= uchronia.pod %>
	</p>
	
	<p><b>Entwicklung</b> <%= uchronia.description.html_safe %></p>
	
	<p>
		<b>Letzte Aktualisierung</b> <%= uchronia.updated_at.to_datetime.strftime("%d.%m.%Y")  %>
	</p>
	
	<p>
		<b>Uchronisten</b> 
	<% uchronia.uchronists.each do |u| %>
		<%= link_to u.name, "#/" + u.slug %>
	<% end %>
	</p>

</article>

<aside class="col-2 post-it bio_translation <%= "hide-bio" if !uchronia.show_bio %>">
	<b>Ihre Biographie</b>
	<div class="bio_translation_content"></div>
	<%= link_to "Biographie ändern", "#/biographie-transformator", {:class=>"uchronia_link", :rel=>uchronia.slug} %>
</aside>

</div>

<div class="row col-1">
	<nav>
		<%= link_to "Weiter zur nächsten Uchronie", "#/" + uchronia.next_uchronia.slug %> oder <%= link_to "zurück zum Start", "#/start" %>
	</nav>
</div>