<h1>Uchronia <%= uchronia.title %></h1>

<article>
	<% if uchronia.image %>
		<%= image_tag uchronia.image.image.url(:thumb) %>
	<% else %> 
		<%= image_tag "http://wwhs-production.s3.amazonaws.com/images/16/medium/image.jpg?1382099134" %>
	<% end %>
	
	<% if uchronia.media_embed %>
		<%= uchronia.media_embed.html_safe %>
	<% end %>
	
	<p>
	  <b>Point of Divergence:</b> <%= uchronia.pod %>
	</p>
	
	<p><%= uchronia.description.html_safe %></p>

<p>
	Uchronists: 
<% uchronia.uchronists.each do |u| %>
	<%= link_to u.name, "#/" + u.slug %>
<% end %>
</p>

	<%= link_to "vorherige Uchronie", "#/" + uchronia.previous_uchronia.slug %>
	<%= link_to "nächste Uchronie", "#/" + uchronia.next_uchronia.slug %>

	<%= link_to "Zum Biographien-Generator", "#/biographygenerator" %>
</article>

<aside class="post-it bio_translation">
</aside>