<!DOCTYPE html>
<html>
<head>
  <title>WIR WÜRDEN HIER SEIN</title>
  <%= stylesheet_link_tag    "admin", media: "all" %>
  <%= javascript_include_tag "admin" %>
  <%= csrf_meta_tags %>
</head>
<body>

<h1>Admin area</h1>

<%= render "admin/menu" %>

<%= yield %>

</body>
</html>
