<!DOCTYPE html>
<html>
<head>
  <title>WIR WÜRDEN HIER SEIN</title>
  <%= stylesheet_link_tag    "jmpress", media: "all" %>
  <%= javascript_include_tag "jmpress" %>
  <%= favicon_link_tag '/assets/favicon.ico' %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />  
</head>
<body>

<!--%= render 'jmpress/menu' %-->

<%= yield %>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-378438-8']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>

</body>
</html>
