<!DOCTYPE html>
<html>
<head>
  <title>WIR WÜRDEN HIER SEIN</title>
  <%= stylesheet_link_tag    "jmpress", media: "all" %>
  <%= javascript_include_tag "jmpress" %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, maximum-scale=1.0, initial-scale=1.0, user-scalable=yes" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />  
</head>
<body>

<%= render 'jmpress/menu' %>

<%= yield %>

</body>
</html>
