<!DOCTYPE html>
<html>
<head>
  <title>WIR WÜRDEN HIER SEIN</title>
  <%= stylesheet_link_tag    "jmpress", media: "all" %>
  <%= javascript_include_tag "jmpress" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render 'jmpress/menu' %>

<%= yield %>

</body>
</html>
